@media screen and (min-width: 1200px){
    body {
        font-size: 20px;
    }

    #header, #posts, #contact-me {
        padding: 90px 0;
    }

   #posts a * {
       max-width: 100%;
       margin: 30px 0;
   }

   footer {
       background-size: 30%;
   }

   footer img {
       width: 40px;
   }
}