/* small tablet style */
@media screen and (min-width: 620px) {
    #header-text {
        grid-column: 1/5;
    }
    
    .posts {
        margin-top: 10px;
    }

    #posts a {
        grid-column: 3/7;
        display: block;
        margin: 20px 0;
        text-align: center;
    }
    
}
